.contact{
  width: 100%;
  min-height: 100%;
  background-color:  white;
}
#contact1{
  padding: 90px;
  padding-left: 70px;
}
#contact2{
  padding-top: 70px;
  padding-bottom: 30px;
  padding-right: 125px;

}
.contacttitlecolor{
  color: #3d4348;
}
.contactsubtitlecolor{
    color: #3d4348;
    line-height: .9;
}

.contactdescriptioncolor{
    color: #838c94;
}
.jointeam input{
  float: right;
  width: 210px;
  height: 40px;
  display: inline;
  color: #e4861f;
  text-decoration: none;
  margin-top: 10px;
}
.jointeam input:hover{
color: #e4861f;
}
.jointeam input:focus{
color: #e4861f;
}
.contact button{
  float: right;
background: #e4861f;
color: white;
min-width: 170px;
min-height: 50px;
border: none;
margin-top: 50px;
font-size: 20px;
font-family: 'sego print';

}
.contact button:hover{
  color: #e4861f;
  background: white;
  font-size: 28px;
  transition:all 1s ease;

}
