.detailfont{

    font-size: 20px;
    font-family: "Futura";
    line-height: 1.1em;
    text-align: right;
}
.titlefont{
  font-family: "Segoe Print";
}
.minititlefont{
  font-family: "Futura";
}
