

/*kira.com's navbar--*/
.affix {
      top: 0;
      width: 100%;
  }
  

#nav_bar li a{
  transition: all .5s ease;

  font-weight: lighter;
transition: all .5s ease;
  padding: 20px;
  color: #c1161a ;
  font-size: 18px;
  font-weight: bolder;
}
#nav_bar li a:hover{
font-weight: bolder;
  background-color: transparent;
  color: red;
  transition: all .9s ease;
}
#nav_bar li a:focus{
background-color: red !important;
  color: red;

}
#nav_bar{
background-color: rgba(0, 0, 0, 0.4);
}
#nav_bar button span{
  background-color: red;
  color: red;
}
.navicons{
  float: right;
}
.navicons a {
margin-top: 0px;
  padding-top: 26px;
  color: black;
  font-size: 28px;
padding: 15px;
  transition: all .5s ease;
}
.navicons a:hover {

  color: #e4861f;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
